[submodule ".vim/bundle/vim-sensible"]
	path = .vim/pack/kkrc/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/bundle/table-mode"]
	path = .vim/pack/kkrc/start/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/pack/kkrc/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/kkrc/start/vim-ai"]
	path = .vim/pack/kkrc/start/vim-ai
	url = https://github.com/madox2/vim-ai.git
